body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Code By Webdevtrick ( https://webdevtrick.com ) */
html {
  height: 100%;
}
body {
  margin:0;
  padding:0;
  font-family: sans-serif;
  background: linear-gradient(#141e30, #243b55);
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  /* background-size: cover; */
}

.App {
  width: 100%;
  height: 100%;
}

.card-container {
  margin: 20px;
  width: 12rem;
  height: 14rem;
  perspective: 1000px;
  padding: 2px 16px;
}

.m-shadow {
  box-shadow: 0 0.0625em 0.125em rgba(0, 0, 0, 0.15);
}

.m-card {
  transition: transform 2s;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  cursor: pointer;
  transition: 0.3s;
}

.card-border {
  /* border-width: 4px; */
  border-color: #f0f0f0;
  border-style: solid;
}

.card-place-holder {
  display: flex;
  justify-content: center;
  align-items: center;
}

.front, .back {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;

  /* border-width: 4px; */
  border-color: #f0f0f0;
  border-style: solid;
}

.front {
  background-color: #f0f0f0;
}

.back {
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  transform: rotateY(180deg);
}

.br-dot-25em {
  border-radius: 0.25em;
}

.m-card.red {
  color: red;
}

.card-topleft {
  position: absolute;
  top: 0.5em;
  left: 0.75em;
}

.card-bottomright {
  position: absolute;
  bottom: 0.5em;
  right: 0.75em;
  transform: rotate(180deg);
}

.card-corner-rank, .card-corner-suit {
  width: 1em;
  text-align: center;
  transform: translate(-50%, 0);
}

.card-content {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 0.25rem;
  flex-direction: column;
}

.m-card-title {
  font-weight: bold;
  font-size: 1.5rem;
  flex: 1;
  flex-direction: column;
  display: flex;
  align-items: flex-start;
}

.transform-180 {
  transform: rotate(180deg);
}

.text-red {
  color: #cc2223;
}

.filter-red {
  filter: invert(14%) sepia(81%) saturate(4975%) hue-rotate(351deg) brightness(89%) contrast(85%);
}

.filter-black {
  filter: invert(16%) sepia(97%) saturate(18%) hue-rotate(35deg) brightness(91%) contrast(91%);
}

.img-background {
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}

.w-25p {
  width: 25%;
}
/* table, th, td, tr {
  width: 100%;
  height: 100%
} */
table, th, td {
  border: 1px solid wheat;
}